html,
body {
	margin: 0;
	padding: 0;
	background: #dcdcdc;
	width: 100%;
	height: 100%;
}
textarea {
	outline: none;
}
.header {
	height: 50px;
	display: flex;
	align-items: center;
	background: grey;
	padding: 0 20px;
	box-shadow: 10px 5px 5px;
	margin-bottom: 5px;
}
.logo {
	color: white;
	font-size: 20px;
}
.main-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
	flex: 1 0 auto;
}
.content {
	display: flex;
	padding: 10px;
	height: 100%;
	box-sizing: border-box;
}
.content__input {
	flex: 0.5 1 0%;
}
.content__output {
	flex: 0.5 1 0%;
}
.cart {
	height: 100%;
	border: 2px solid orange;
	display: flex;
	flex-direction: column;
}
.cart__header {
	width: 100%;
	background-color: orange;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cart__header-title {
	color: white;
}
.cart__text {
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	flex: 1 0 auto;
	border: none;
	background-color: white;
}
.content__button {
	margin: 0 5px;
}
.content__btn {
	height: 50px;
	background-color: orange;
	color: white;
	border: 2px solid grey;
}
.output {
	padding: 10px;
}

/* ----- */

.object-high {
	display: flex;
	flex-direction: column;
}
/* .object-high div {
	padding: 0 5px;
} */
.elem-title {
	display: flex;
}
.object-title {
	font-weight: 400;
	padding-right: 6px;
}

.primitive {
	padding-left: 40px;
}
.object-low {
	padding-left: 40px;
}
.number {
	color: green;
}
.string {
	color: red;
}
.boolean {
	color: slateblue;
}
.btn {
	width: 18px;
	height: 18px;
	text-align: center;
}
.hidden {
	display: none;
}
.validation {
	height: 20px;
	background-color: white;
	display: none;
	color: red;
}
.validation-on,
.jsonOn {
	display: flex;
	align-items: center;
	justify-content: center;
}
