@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600;700&family=Quicksand:wght@400;500&family=Rochester&display=swap');


html body {
	font-family:"Asap";
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #CDD6CF ;
	height: 100%;
	padding: 0;
	margin: 0;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	padding: 0 30px;
	background: #4CAF50;
	margin-bottom: 60px;
	z-index: 1000;
}
.header__logo{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 230px;
	font-family: 'Rochester';
	font-size: 40px;
	color: #ffffff;
}
.btn-register{
	font-family: "Asap";
	font-size: 16px;
	border: 1px solid #CDD6CF;
	box-sizing: border-box;
	border-radius: 10px;
	height: 50px;
	width: 151px;
	background: none;
	color: #ffffff;
	cursor: pointer;
}
.user-block{
	width: 160px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 35px;
	color: #ffffff;
}
.user-block-link{
	cursor: pointer;
	text-decoration: none;
	color: #ffffff; 
}
.toast-header{
	position: absolute;
	right: 0px;
	top: 0px;
	visibility: hidden;
}
#search:hover + .toast-header{
	visibility: visible;
}
.wrapper{
	max-width: 1440px;
	margin: 0 auto;
}
.content{
	text-align: center;
}
.content__title{
	font-family: 'Rochester';
	font-size: 100px;
	color: #4CAF50;
	margin-bottom: 40px;
}
.content__main{
	display: flex;
	padding: 0 0 0 98px; 
	align-items: center;
}

.conten__image{
	position: absolute;
}
.content__image img{
	cursor: pointer;
	width: 573px;
	height: 598px;
}
.content__image-text{
	position: relative;
	transform: rotate(-15.81deg);
	font-size: 16px;
	color: #555555;
	width: 182px;
	left: 300px;
	top: -70px
}

