html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 1200px;
	margin: auto;
	height: 100%;
}
.cart {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 400px;
	border: 2px solid green;
	border-radius: 10px;
	padding: 20px;
	min-height: 280px;
}
ul {
	width: 100%;
	list-style: none;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 0;
}
li {
	background: grey;
	padding: 10px 20px;
	border-radius: 5px 5px 0 0;
	cursor: pointer;
	font-size: larger;
	font-weight: bold;
}
.active,
li:active {
	background-color: green;
}
