html,
body {
	margin: 0;
	padding: 0;
	background: #dcdcdc;
	width: 100%;
	height: 100%;
}
textarea {
	outline: none;
}
.main-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	.header {
		height: 50px;
		display: flex;
		align-items: center;
		background: grey;
		padding: 0 20px;
		box-shadow: 10px 5px 5px;
		margin-bottom: 5px;
		.logo {
			color: white;
			font-size: 20px;
		}
	}
	.wrapper {
		max-width: 1200px;
		margin: 0 auto;
		width: 100%;
		flex: 1 0 auto;
		.content {
			display: flex;
			padding: 10px;
			height: 100%;
			box-sizing: border-box;
			&__input {
				flex: 0 0 50%;
				overflow: hidden;
			}
			&__output {
				flex: 0 0 50%;
				overflow: hidden;
			}
			&__button {
				margin: 0 5px;
				display: flex;
				flex-direction: column;
			}
			&__btn {
				height: 50px;
				background-color: orange;
				color: white;
				border: 2px solid grey;
				margin-bottom: 5px;
				cursor: pointer;
			}
		}
	}
}
.cart {
	height: 100%;
	border: 2px solid orange;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	&__header {
		width: 100%;
		background-color: orange;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__header-title {
		color: white;
	}
	&__text {
		width: 100%;
		box-sizing: border-box;
		overflow: hidden;
		flex: 1 0 auto;
		border: none;
		background-color: white;
	}
}
.output {
	padding: 10px;
	.object-high {
		display: flex;
		flex-direction: column;
		.elem-title {
			display: flex;
			.object-title {
				font-weight: 400;
				padding-right: 6px;
			}
			.btn {
				width: 10px;
				height: 18px;
				text-align: center;
				padding-right: 4px;
			}
		}
		.primitive {
			padding-left: 40px;
		}
		.object-low {
			padding-left: 40px;
		}
	}
}
.number {
	color: green;
}
.string {
	color: red;
}
.boolean {
	color: slateblue;
}
.hidden {
	display: none;
}
.validation {
	height: 20px;
	background-color: white;
	display: none;
	color: red;
}
.validation-on,
.jsonOn {
	display: flex;
	align-items: center;
	justify-content: center;
}
